<!DOCTYPE html>


<html lang="en" dir="ltr">

<!-- Setting website pre rec -->
<head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <title> Zesty</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>

<!-- The navigation bar  -->
<body>
    <div>
        <nav>
            <div class="heading">
                <li><a href="/"> <h4>Zestea</h4> </a>
            </div>
         
            <ul class="nav_links" >

                {{ logsin | safe }}
            </ul>
            
            
        
          
           
        </nav>

    </div>


    <div>
        <form action="#" method="post">
                <div class="inp_label">
                    
                    <br><br><br>
                    <label for="email">Email</label>
                    <input type="textbox" name="email" id="email">
                    <br><br>
                    <label for="username">Username</label>
                    <input type="textbox" name="username" id="username">
                    <br><br>
                    <label for="password">Password</label>
                    <input type="textbox" name="password" id="password">
                    <br><br>
                    <label for="repassword">Re-enter Password</label>
                    <input type="textbox" name="repassword" id="repassword">
                    <br><br>
                    <input type="submit" name="sub2" id="sub1">

                </div>

                <br><br>

                <div class = "correction">
                    <h4> {{inc}}</h4>
                </div>

        </form>

    </div>





</body>
</html>